

<main class="main">
  <div class="content">
    <div>
      <input type="file" style="display:none;" #importCSV (change)="fileSelection($event)"/><br/>
      <label>Select a file:</label><button (click)="importCSV.click();">Browse</button>
    </div>
    <div>
      <button (click)="createNewProduct()">Create New Product</button>
      @if(newProduct){
      <p>New Product</p>
      <label>Name:</label><input [(ngModel)]="product.name" type="text"/><br/>
      <label>Price:</label><input [(ngModel)]="product.price" type="text"/><br/>
      <label>Units:</label><input [(ngModel)]="product.units" type="text"/><br/>
      <button (click)="saveProduct()">Save</button>
      }
      </div>
    <div>
      @for(pageNo of totalPages; track pageNo){
        <a href="#" (click)="fetchProducts(pageNo)" style="margin-left:10px">{{ pageNo }}</a>
      }
    </div>
    Products Data:
    <button (click)="exportProducts()">Export</button>
    <table>
      <tbody>
      @for(product of products;track product.id){
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.units}}</td>
        </tr>
      }
    </tbody>
    </table>
  </div>
</main>



<router-outlet></router-outlet>
